In [16]:
import matplotlib.pyplot as plt
import pandas as pd

In [17]:
filepath = "Assessors_Parcel_Data_2022.csv"
home_value_data = pd.read_csv(filepath)

In [18]:
home_value_data.head()

,ASMTYEAR,TAXYEAR,HOUSE_NO,STREET_NAME,UNIT_NO,ZIP_POSTAL,FORMATTED_ADDRESS,OWNERNM,TAXPAYER1,TAXPAYER2,...,TOTALVALUE,NUM_BLDGS,BUILDINGUSE,YEARBUILT,NUM_STORIES,PRIMARYHEATING,TOTAL_UNITS,FIREPLACES,BATHROOMS,BEDROOMS
0,2022,2023,2815,LAKE ST E,NaN,55406-1929,2815 LAKE ST E,TRUHER LLC,TRUHER LLC,977 PAYNE AVE,...,125800,0,NaN,NaN,NaN,NaN,0.0,0,0,0
1,2022,2023,3016,29TH AVE S,NaN,55406-1961,3016 29TH AVE S,SAMIR & KAWTHAR PROPERTIES,SAMIR PROPERTITES,461 W MARYLAND AVE #203,...,2718000,1,APARTMENT 6+ UNIT,1961.0,2.0,HOT WATER,26.0,0,0,0
2,2022,2023,3020,29TH AVE S,NaN,55406-1920,3020 29TH AVE S,ROBERT BIXBY,ROBERT BIXBY,3020 29TH AVE S,...,308000,1,SINGLE FAMILY HOUSE,1910.0,1.7,HOT WATER,1.0,0,1,3
3,2022,2023,3024,29TH AVE S,NaN,55406-1920,3024 29TH AVE S,ELROY L NEUHAUS ET AL,ELROY L NEUHAUS,DONELLA M NEUHAUS,...,216000,1,SINGLE FAMILY HOUSE,1910.0,1.7,HOT WATER,1.0,0,2,3
4,2022,2023,2727,LAKE ST E,NaN,55406-1927,2727 LAKE ST E,COUNTY OF HENNEPIN,COUNTY OF HENNEPIN,ATTN: REAL ESTATE MANAGER,...,0,1,LIBRARY,1976.0,1.0,HOT WATER,0.0,0,0,0

In [20]:
home_value_data['NEIGHBORHOOD'].value_counts()

NORTHLOOP                 3880
DOWNTOWN EAST             3424
LINDEN HILLS              3161
DOWNTOWN WEST             2969
HOWE                      2791
                          ...
NORTHEAST PARK             339
SUMNER-GLENWOOD            224
UNIVERSITY                 112
CAMDEN INDUSTRIAL AREA      84
HUMBOLDT INDUST AREA        39
Name: NEIGHBORHOOD, Length: 87, dtype: int64

In [28]:
len(home_value_data["COMMUNITY"].unique())

11

In [21]:
home_value_data.columns

Index(['ASMTYEAR', 'TAXYEAR', 'HOUSE_NO', 'STREET_NAME', 'UNIT_NO',
       'ZIP_POSTAL', 'FORMATTED_ADDRESS', 'OWNERNM', 'TAXPAYER1', 'TAXPAYER2',
       'TAXPAYER3', 'TAXPAYER4', 'NEIGHBORHOOD', 'COMMUNITY', 'WARD',
       'LANDUSE', 'PARCEL_AREA_SQFT', 'PRIMARY_PROP_TYPE', 'LANDVALUE',
       'BLDGVALUE', 'TOTALVALUE', 'NUM_BLDGS', 'BUILDINGUSE', 'YEARBUILT',
       'NUM_STORIES', 'PRIMARYHEATING', 'TOTAL_UNITS', 'FIREPLACES',
       'BATHROOMS', 'BEDROOMS'],
      dtype='object')

In [13]:
columns[36]

'SUB3_EXEMPTCD'

In [15]:
len(home_value_data.columns)

53